<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>Lázaro's Website</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
<div class="outer">
<div class="inner">
<i class="top left"></i>
<i class="top right"></i>
<main class="content">
<header>
    <h1>Lázaro's Website</h1>
    <article style="width: 600px; margin: auto;">{{ .Content }}</article>
</header>
<article>
{{ block "main" . }}
<h2 style="text-align: center;">Locations</h2>
<ul class="locationlisting">
    <a href="/tower"  ><li><img src="tower.gif"   class="pixelart">Tower</li></a>
    <a href="/library"><li><img src="library.gif" class="pixelart">Library</li></a>
    <a href="/garden" ><li><img src="garden.gif"  class="pixelart">Garden</li></a>
    <a href="/keep"   ><li><img src="keep.gif"    class="pixelart">Keep</li></a>
    <a href="/dungeon"><li><img src="dungeon.gif" class="pixelart">Dungeon</li></a>
</ul>
{{ end }}
<h2 style="text-align: center;">Publications</h2>
{{ partial "mostrecent.html" . }}
<h2 style="text-align: center;">Links</h2>
<ul class="locationlisting" style="width: 100%; justify-content: center; gap: 50px; margin: 0; padding: 0;">
    <a href="https://github.com/rodrigueslazaro"><li><img src="github.gif" class="pixelart" style="width: 45px; padding: 10px 0px 5px 0px;">GitHub</li></a>
    <a href="/monero"><li><img src="monero.gif" class="pixelart" style="width: 50px; padding: 10px 0px 0px 0px;">Donate</li></a>
    <a href="/garden/ralklen"><li><img src="rallklen.gif" class="pixelart" style="width: 50px; padding: 10px 0px 0px 0px;">Ralklen</li></a>
</ul>
</article>
</main>
<i class="bottom right"></i>
<i class="bottom left"></i>
</div>
</div>
{{ block "footer" . }}
<footer>

</footer>
{{ end }}
</body>
</html>
